[submodule "gallery"]
	path = gallery
	url = https://github.com/kikewtf/gallery
	branch = main

[submodule "example"]
	path = example
	url = https://github.com/kikewtf/example
	branch = main

[submodule "metafiles"]
	path = metafiles
	url = https://github.com/kikewtf/metafiles
